In [1]:
import pandas as pd

In [2]:
#Load each of the files of world population and gdp per capita of each country
population_countries = pd.read_csv("WORLD_POPULATION.csv")
percapita_gdp = pd.read_csv("GDP_PERCAPITA.csv")

population_countries.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

In [3]:
#assign desired ranges of population in world population file

selected_countries = population_countries[population_countries["2017"] > 60000000]
selected_countries = selected_countries[population_countries["2017"] < 130000000]

C:\Users\cvargas\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [4]:
# convert countries within range to a list
countries_range = (selected_countries["Country Name"].tolist())

In [5]:
#clean up the list by deleting non-country lines
countries_range.pop(0)

'Central Europe and the Baltics'

In [6]:
percapita_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24630.939270,23512.602600,24984.279450,24709.602260,25018.308950,25528.403780,25796.380250,25251.639680,25655.102020,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,444.184404,550.514974,599.297630,648.511070,647.966461,625.339539,590.076474,549.582760,550.068459,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3117.896944,3585.905553,4615.867475,5102.489969,5258.407376,5412.692348,4170.730358,3509.604211,4100.289786,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4114.134899,4094.360204,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4131.872341,4537.579056,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43339.379870,39736.354060,41098.766940,38391.080870,40619.711300,42294.994730,36038.267600,37231.815670,39146.548840,NaN

In [7]:
#obtain maximum gdp per capita
gdp_pc_2017_max = percapita_gdp["2017"].max()
gdp_pc_2017_max

104103.0367

In [8]:
#obtain minimum gdp per capita

gdp_pc_2017_min = percapita_gdp["2017"].min()
gdp_pc_2017_min

292.0052103

In [9]:
#organize Gdp per capita 2017 in descending order
percapita_gdp = percapita_gdp.sort_values("2017", ascending=False)

In [10]:
percapita_gdp["Group"] ="A"

In [11]:
#count the number of enlisted countries in gdp file
percapita_gdp.shape[0]

264

In [12]:
#assign ranges for the three groups of countries according to gpd per capita from the list of countries
percapita_gdp.iloc[0:50,percapita_gdp.columns.get_loc("Group")] = "High Development"
percapita_gdp.iloc[51:150,percapita_gdp.columns.get_loc("Group")] = "Medium Development"
percapita_gdp.iloc[151:264,percapita_gdp.columns.get_loc("Group")] = "Low Development"

In [13]:
percapita_gdp.columns.get_loc("Group")

63

In [14]:
#create a dataframe containing the selected countries
countries_range = pd.DataFrame(countries_range)
countries_range.columns = ["Country Name"]

In [15]:
#merge the list of countries selected by population with the dataframe to obtain the intersection
selected_countries = pd.merge(countries_range, percapita_gdp, on="Country Name")

In [16]:
selected_countries.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Group
0,"Congo, Dem. Rep.",COD,GDP per capita (current US$),NY.GDP.PCAP.CD,220.314062,197.390943,235.632408,377.427540,170.466067,232.811114,...,334.231702,387.323580,424.859318,458.238406,487.081487,497.629756,471.635946,462.779544,NaN,Low Development
1,Germany,DEU,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,41785.556910,46810.327960,44065.248910,46530.911430,48042.563430,41323.921500,42232.574210,44469.909060,NaN,High Development
2,"Egypt, Arab Rep.",EGY,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,160.275726,...,2602.479549,2747.480327,3181.441708,3213.389158,3327.754247,3547.713012,3479.281246,2412.727082,NaN,Low Development
3,Ethiopia,ETH,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,341.309909,354.846354,468.506725,502.153589,571.162276,645.465007,712.877950,767.563478,NaN,Low Development
4,France,FRA,GDP per capita (current US$),NY.GDP.PCAP.CD,1338.299606,1440.554330,1585.917267,1752.964403,1919.266718,2042.240384,...,40638.334000,43790.735400,40874.715960,42592.951520,43008.652570,36613.375220,36870.219130,38476.658640,NaN,High Development

In [17]:
#select the relevant columns and sort the dataframe in descending order from higher to lower GDPPC

selected_countries = selected_countries.loc[ : ,["Country Name","2017", "2016", "2015", "2014", "2013", "2012", "2011", "2010", "2005", "2000", "1995", "1990", "Group"]]
selected_countries = selected_countries.sort_values("2017", ascending=False)
selected_countries

,Country Name,2017,2016,2015,2014,2013,2012,2011,2010,2005,2000,1995,1990,Group
1,Germany,44469.909060,42232.574210,41323.921500,48042.563430,46530.911430,44065.248910,46810.327960,41785.556910,34696.620920,23718.746700,31729.699760,22219.572530,High Development
5,United Kingdom,39720.443430,40412.033620,44305.554630,46783.469220,42724.067880,41790.779140,41412.349240,38893.018490,41732.640540,27982.355760,23013.458820,19095.467000,High Development
4,France,38476.658640,36870.219130,36613.375220,43008.652570,42592.951520,40874.715960,43790.735400,40638.334000,34760.187770,22364.029390,26890.219880,21690.629120,High Development
8,Japan,38428.097320,38972.340640,34567.745680,38109.412110,40454.447460,48603.476650,48167.997270,44507.676390,37217.648730,38532.040880,43440.367870,25359.347020,High Development
7,Italy,31952.975920,30668.981430,30180.321510,35396.665720,35370.275260,34814.125120,38334.683850,35849.373200,31959.262950,20051.242150,20596.388580,20757.088680,High Development
12,Turkey,10546.152560,10862.726430,10984.802880,12127.461460,12542.720930,11720.313010,11340.822270,10672.400360,7384.259107,4316.561103,2897.870208,2794.353551,Medium Development
9,Mexico,8910.333177,8450.494010,9298.242878,10582.410530,10400.563160,9940.468561,9912.582362,9016.457927,8089.409036,6959.388717,3828.717023,3060.685213,Medium Development
11,Thailand,6595.004125,5979.293546,5846.394608,5953.793928,6168.394881,5859.887644,5491.159981,5075.302176,2893.651356,2007.564826,2845.410314,1508.285774,Medium Development
6,"Iran, Islamic Rep.",5593.853783,5219.109408,4862.299729,5540.984136,6036.192088,7832.902635,7729.343353,6531.927430,3215.653433,1657.169748,1591.716066,2219.842302,Medium Development
10,Philippines,2988.952703,2950.913903,2878.338370,2842.938353,2760.289146,2581.818548,2352.518156,2129.499247,1194.697116,1038.911018,1061.347868,715.310585,Low Development
2,"Egypt, Arab Rep.",2412.727082,3479.281246,3547.713012,3327.754247,3213.389158,3181.441708,2747.480327,2602.479549,1168.115231,1428.183004,944.201912,748.602267,Low Development
13,Vietnam,2342.244003,2170.648054,2065.169099,2012.046290,1871.325491,1722.683931,1515.479925,1310.370273,683.596804,388.270539,275.750619,94.880198,Low Development
3,Ethiopia,767.563478,712.877950,645.465007,571.162276,502.153589,468.506725,354.846354,341.309909,161.626625,123.876206,133.728854,253.192948,Low Development
0,"Congo, Dem. Rep.",462.779544,471.635946,497.629756,487.081487,458.238406,424.859318,387.323580,334.231702,218.523509,405.469653,135.673481,270.110581,Low Development

In [18]:
#rename column 2017 to GDPPC 2017
selected_countries = selected_countries.rename(columns = {'2017':'GDPPC 2017'})

In [19]:
#Select just 3 countries of each gruop. Drop countries that have the least relevance according to industry presence 
selected_countries = selected_countries.drop([1,7,6,3,0])

In [20]:
#reset index
selected_countries = selected_countries.reset_index(drop=True)

In [21]:
selected_countries

,Country Name,GDPPC 2017,2016,2015,2014,2013,2012,2011,2010,2005,2000,1995,1990,Group
0,United Kingdom,39720.443430,40412.033620,44305.554630,46783.469220,42724.067880,41790.779140,41412.349240,38893.018490,41732.640540,27982.355760,23013.458820,19095.467000,High Development
1,France,38476.658640,36870.219130,36613.375220,43008.652570,42592.951520,40874.715960,43790.735400,40638.334000,34760.187770,22364.029390,26890.219880,21690.629120,High Development
2,Japan,38428.097320,38972.340640,34567.745680,38109.412110,40454.447460,48603.476650,48167.997270,44507.676390,37217.648730,38532.040880,43440.367870,25359.347020,High Development
3,Turkey,10546.152560,10862.726430,10984.802880,12127.461460,12542.720930,11720.313010,11340.822270,10672.400360,7384.259107,4316.561103,2897.870208,2794.353551,Medium Development
4,Mexico,8910.333177,8450.494010,9298.242878,10582.410530,10400.563160,9940.468561,9912.582362,9016.457927,8089.409036,6959.388717,3828.717023,3060.685213,Medium Development
5,Thailand,6595.004125,5979.293546,5846.394608,5953.793928,6168.394881,5859.887644,5491.159981,5075.302176,2893.651356,2007.564826,2845.410314,1508.285774,Medium Development
6,Philippines,2988.952703,2950.913903,2878.338370,2842.938353,2760.289146,2581.818548,2352.518156,2129.499247,1194.697116,1038.911018,1061.347868,715.310585,Low Development
7,"Egypt, Arab Rep.",2412.727082,3479.281246,3547.713012,3327.754247,3213.389158,3181.441708,2747.480327,2602.479549,1168.115231,1428.183004,944.201912,748.602267,Low Development
8,Vietnam,2342.244003,2170.648054,2065.169099,2012.046290,1871.325491,1722.683931,1515.479925,1310.370273,683.596804,388.270539,275.750619,94.880198,Low Development

In [22]:
#export csv file
selected_countries.to_csv('COUNTRIES.csv')